@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Radicalls';
  src: url('/fonts/Radicallis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-bg text-text font-sans antialiased;
}
